Repository neomint-research/golden-repo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @neomint-research/maintainers, @neomint-research/security-team, @neomint-research/devops-team, @neomint-research/frontend-team, @neomint-research/backend-team, @neomint-research/docs-team, @neomint-research/ai-team, @neomint-research/qa-team, @neomint-research/legal-team

refactor: comprehensive codebase cleanup for maximum clarity
  agents/SCRUMbot/scrumbot_demo_results.json
  bootstrap.ps1
  bootstrap.sh
  docs/example-usage.md
  docs/security-guide.md
  src/example_script.sh
  src/example_tool.py
Owners: @neomint-research/ai-team, @neomint-research/backend-team, @neomint-research/maintainers, @neomint-research/docs-team

refactor: remove unnecessary directories and optimize gitignore
  .gitignore
  agents/SCRUMbot/scrumbot_demo_results.json
  logs/auto-fix-failure.md
Owners: @neomint-research/maintainers, @neomint-research/ai-team, @neomint-research/backend-team

fix: update GitHub Actions to stable versions
  .github/workflows/dependency-auto-merge.yml
  .github/workflows/security-audit.yml
Owners: @neomint-research/devops-team

refactor: merge AGENT.md into README.md for better clarity
  AGENT.md
  README.md
Owners: @neomint-research/docs-team

fix: replace Gitleaks with open-source secret scanning solution
  .github/workflows/security-audit.yml
  .gitignore
  .secrets.baseline
Owners: @neomint-research/devops-team, @neomint-research/maintainers

Potential fix for code scanning alert no. 2: Unused import
  src/example_tool.py
Owners: @neomint-research/maintainers

fix: resolve empty files and complete template cleanup
  .devcontainer/library-scripts/install-security-tools.sh
  .prettierignore
Owners: @neomint-research/maintainers

fix: resolve pre-commit configuration issues causing workflow failures
  .pre-commit-config.yaml
Owners: @neomint-research/maintainers

fix: resolve all pre-commit hook failures
  .devcontainer/library-scripts/install-security-tools.sh
  bootstrap.sh
  src/example_script.sh
  src/example_tool.py
  test/test_template_structure.py
Owners: @neomint-research/maintainers, @neomint-research/qa-team, @neomint-research/backend-team

.github/CODEOWNERS:

# Code Ownership Rules for Golden Repo Template
# This file defines who must review changes to specific files and directories

# Global ownership - all files require review by repository maintainers
* @neomint-research/maintainers

# Security-sensitive files require security team review
/.github/workflows/ @neomint-research/security-team @neomint-research/devops-team
/CODEOWNERS @neomint-research/security-team @neomint-research/maintainers
/.github/dependabot.yml @neomint-research/security-team
/security/ @neomint-research/security-team

# CI/CD and automation files require DevOps review
/.github/workflows/*.yml @neomint-research/devops-team
/.github/actions/ @neomint-research/devops-team
/scripts/ @neomint-research/devops-team
/Dockerfile* @neomint-research/devops-team
/docker-compose*.yml @neomint-research/devops-team

# Configuration files require careful review
/.prettierrc @neomint-research/frontend-team @neomint-research/maintainers
/.eslintrc* @neomint-research/frontend-team
/pyproject.toml @neomint-research/backend-team
/requirements*.txt @neomint-research/backend-team
/package*.json @neomint-research/frontend-team
/yarn.lock @neomint-research/frontend-team
/Pipfile* @neomint-research/backend-team

# Documentation requires technical writing review
/README.md @neomint-research/docs-team @neomint-research/maintainers
/docs/ @neomint-research/docs-team
/*.md @neomint-research/docs-team

# Source code by language/framework
/src/python/ @neomint-research/backend-team
/src/javascript/ @neomint-research/frontend-team
/src/typescript/ @neomint-research/frontend-team
/agents/ @neomint-research/ai-team @neomint-research/backend-team

# Test files require review from respective teams
/tests/ @neomint-research/qa-team
/test/ @neomint-research/qa-team
/**/*test*.py @neomint-research/qa-team @neomint-research/backend-team
/**/*test*.js @neomint-research/qa-team @neomint-research/frontend-team
/**/*spec*.js @neomint-research/qa-team @neomint-research/frontend-team

# License and legal files require legal review
/LICENSE* @neomint-research/legal-team @neomint-research/maintainers
/NOTICE* @neomint-research/legal-team
/COPYRIGHT* @neomint-research/legal-team

# Template-specific files
/template/ @neomint-research/maintainers
/examples/ @neomint-research/docs-team @neomint-research/maintainers
